@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;500;900&display=swap");
/* line 3, sass/main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 9, sass/main.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Sansita Swashed", cursive;
  font-size: 62.5%; }

/* line 21, sass/main.scss */
.wrapper {
  width: 100%;
  height: 100vh; }
  /* line 25, sass/main.scss */
  .wrapper .content__wrapper {
    background-color: #145374;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%, 0 40%);
    transition: ease-in-out 0.5s; }
  /* line 33, sass/main.scss */
  .wrapper .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    /* line 40, sass/main.scss */
    .wrapper .container.signin {
      width: 50%;
      position: absolute;
      right: 0;
      top: 0; }
    /* line 47, sass/main.scss */
    .wrapper .container.signup {
      width: 50%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transform: translateX(-80%); }
    /* line 56, sass/main.scss */
    .wrapper .container__form {
      height: 100%;
      width: 50%;
      border: 3px solid yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1200; }
      /* line 65, sass/main.scss */
      .wrapper .container__form .form {
        width: 50%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        /* line 72, sass/main.scss */
        .wrapper .container__form .form__social {
          width: 80%;
          max-width: 300px;
          display: flex;
          justify-content: space-around; }
          /* line 78, sass/main.scss */
          .wrapper .container__form .form__social .social__icon {
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fbf7f0;
            border: 1px solid #00334e; }
        /* line 91, sass/main.scss */
        .wrapper .container__form .form__header {
          color: #fbf7f0;
          text-align: center;
          font-size: 2rem;
          margin: 30px 0; }
        /* line 98, sass/main.scss */
        .wrapper .container__form .form__input {
          height: 40px;
          width: 100%;
          max-width: 300px;
          margin: 4px 0;
          border-radius: 2px;
          border: none;
          outline: none; }
        /* line 108, sass/main.scss */
        .wrapper .container__form .form__button {
          width: 100%;
          max-width: 300px;
          height: 40px;
          text-transform: uppercase;
          font-weight: bold;
          color: #fbf7f0;
          background-color: #ee6f57;
          border: none;
          outline: none;
          margin-top: 30px; }
  /* line 124, sass/main.scss */
  .wrapper .image__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    z-index: 20; }
    /* line 136, sass/main.scss */
    .wrapper .image__wrapper .container__image {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(200px); }
    /* line 146, sass/main.scss */
    .wrapper .image__wrapper button {
      position: absolute;
      top: 0; }
    /* line 151, sass/main.scss */
    .wrapper .image__wrapper .boy {
      transform: translateY(20%); }
    /* line 155, sass/main.scss */
    .wrapper .image__wrapper .girl {
      opacity: 0; }
    /* line 159, sass/main.scss */
    .wrapper .image__wrapper .img {
      position: absolute;
      width: 50%;
      width: 50%; }
